<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="All Test Suite For Swag Labs Tests" parallel="tests">

    <listeners>
        <listener class-name="Org.SwagLabs.Listeners.TestListener"/>
    </listeners>

    <test name="Swag Labs Testing on chrome browser, ENV: Staging">

        <parameter name="browser" value="chrome"/>
        <parameter name="environment" value="Staging"/>

        <classes>
            <class name="Org.SwagLabs.Tests.LoginPageTests">
                <methods>
                    <include name="successfulLoginTest"/>
                </methods>
            </class>
        </classes>
    </test>
<!--
       <test name="Swag Labs Testing on firefox browser, ENV: QA">

           <parameter name="browser" value="firefox"/>
           <parameter name="environment" value="QA"/>

           <classes>
               <class name="Org.SwagLabs.Tests.LoginPageTests"/>
           </classes>

       </test>-->

</suite>